In [21]:
import pandas as pd

In [22]:

beach_quality_df = pd.read_csv('Resources/Beach_Water_Quality.csv')
beach_quality_df.head()

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
0,Ohio Street Beach,6/2/19 17:00,17.1,0.78,NaN,0.232,4.0,10.9,6/2/19 17:00,OhioStreetBeach201906021700
1,63rd Street Beach,9/18/13 10:00,18.9,7.56,1.517,0.140,4.0,11.0,9/18/13 10:00,63rdStreetBeach201309181000
2,63rd Street Beach,6/12/14 12:00,25.4,3.45,-0.072,0.031,9.0,12.2,6/12/14 12:00,63rdStreetBeach201406121200
3,63rd Street Beach,6/12/14 13:00,18.1,3.31,1.818,0.339,10.0,12.2,6/12/14 13:00,63rdStreetBeach201406121300
4,63rd Street Beach,6/12/14 14:00,17.5,2.93,1.545,0.136,4.0,12.2,6/12/14 14:00,63rdStreetBeach201406121400

In [23]:
selected_beach_quality_df = beach_quality_df[['Beach Name','Measurement Timestamp','Water Temperature','Turbidity','Wave Height', 'Wave Period']].copy()
selected_beach_quality_df.head()

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Wave Height,Wave Period
0,Ohio Street Beach,6/2/19 17:00,17.1,0.78,0.232,4.0
1,63rd Street Beach,9/18/13 10:00,18.9,7.56,0.140,4.0
2,63rd Street Beach,6/12/14 12:00,25.4,3.45,0.031,9.0
3,63rd Street Beach,6/12/14 13:00,18.1,3.31,0.339,10.0
4,63rd Street Beach,6/12/14 14:00,17.5,2.93,0.136,4.0

In [24]:
beach_advisory_df = pd.read_csv('Resources/Beach_Swim_Advisories.csv')
beach_advisory_df.head()

,Beach Name,Date,Predicted Level,Probability,Swim Advisory,RecordID
0,63rdStreet,6/4/16,33.6,0.106,N,63rdStreet20160604
1,Calumet,6/4/16,33.8,0.107,N,Calumet20160604
2,Foster,6/4/16,14.9,0.021,N,Foster20160604
3,Leone,6/4/16,9.6,0.006,N,Leone20160604
4,Montrose,6/4/16,101.5,0.277,N,Montrose20160604

In [25]:
selected_beach_advisory_df = beach_advisory_df[['Beach Name','Predicted Level', 'Swim Advisory']].copy()
selected_beach_advisory_df.head()

   Beach Name  Predicted Level Swim Advisory
0  63rdStreet             33.6             N
1     Calumet             33.8             N
2      Foster             14.9             N
3       Leone              9.6             N
4    Montrose            101.5             N

In [26]:
beach_weather_df = pd.read_csv('Resources/Beach_Weather_Stations.csv')
beach_weather_df.head()

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,1/1/16 0:00,-2.80,-4.4,69,0.0,0.0,6.7,0.0,255,3.8,6.4,1000.5,5,353.0,11.9,1/1/16 0:00,63rdStreetWeatherStation201601012400
1,Foster Weather Station,1/1/16 0:00,-3.67,NaN,62,NaN,0.0,NaN,NaN,197,3.6,5.0,1000.0,0,NaN,15.2,1/1/16 0:00,FosterWeatherStation201601012400
2,Oak Street Weather Station,1/1/16 0:00,-2.30,-4.0,67,0.0,0.0,6.3,0.0,260,4.0,7.6,1000.5,3,359.0,12.1,1/1/16 0:00,OakStreetWeatherStation201601012400
3,63rd Street Weather Station,1/1/16 1:00,-3.40,-4.8,72,0.0,0.0,6.7,0.0,273,6.4,9.4,999.9,5,353.0,11.9,1/1/16 1:00,63rdStreetWeatherStation201601010100
4,Foster Weather Station,1/1/16 1:00,-4.56,NaN,63,NaN,0.0,NaN,NaN,290,5.9,6.6,999.3,0,NaN,14.8,1/1/16 1:00,FosterWeatherStation201601010100

In [27]:
selected_beach_weather_df = beach_weather_df[['Station Name','Rain Intensity', 'Wind Speed']].copy()
selected_beach_weather_df.head()

                  Station Name  Rain Intensity  Wind Speed
0  63rd Street Weather Station             0.0         3.8
1       Foster Weather Station             NaN         3.6
2   Oak Street Weather Station             0.0         4.0
3  63rd Street Weather Station             0.0         6.4
4       Foster Weather Station             NaN         5.9

In [28]:
beach_E_coli_df = pd.read_csv('Resources/Beach_E_Coli_Predictions.csv')
beach_E_coli_df.head()

,Beach Name,Date,Prediction Source,Predicted Level,RecordID,Latitude,Longitude,Location
0,12th Street,05/26/2017,DNA Model,160.0,12thStreet20170526,41.8638,-87.6082,"(41.8638, -87.6082)"
1,12th Street,05/27/2017,DNA Model,54.7,12thStreet20170527,41.8638,-87.6082,"(41.8638, -87.6082)"
2,12th Street,05/28/2017,DNA Model,85.9,12thStreet20170528,41.8638,-87.6082,"(41.8638, -87.6082)"
3,12th Street,05/29/2017,DNA Model,109.5,12thStreet20170529,41.8638,-87.6082,"(41.8638, -87.6082)"
4,12th Street,05/30/2017,DNA Model,53.2,12thStreet20170530,41.8638,-87.6082,"(41.8638, -87.6082)"

In [30]:
selected_beach_E_coli_df = beach_E_coli_df[['Beach Name','Date', 'Predicted Level','Latitude','Longitude','Location']].copy()
selected_beach_E_coli_df.head()

,Beach Name,Date,Predicted Level,Latitude,Longitude,Location
0,12th Street,05/26/2017,160.0,41.8638,-87.6082,"(41.8638, -87.6082)"
1,12th Street,05/27/2017,54.7,41.8638,-87.6082,"(41.8638, -87.6082)"
2,12th Street,05/28/2017,85.9,41.8638,-87.6082,"(41.8638, -87.6082)"
3,12th Street,05/29/2017,109.5,41.8638,-87.6082,"(41.8638, -87.6082)"
4,12th Street,05/30/2017,53.2,41.8638,-87.6082,"(41.8638, -87.6082)"