In [10]:
import pandas as pd

In [12]:

beaches_df = pd.read_csv('Resources/Beach_Water_Quality.csv')
beaches_df.head()

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
0,Ohio Street Beach,6/2/19 17:00,17.1,0.78,NaN,0.232,4.0,10.9,6/2/19 17:00,OhioStreetBeach201906021700
1,63rd Street Beach,9/18/13 10:00,18.9,7.56,1.517,0.140,4.0,11.0,9/18/13 10:00,63rdStreetBeach201309181000
2,63rd Street Beach,6/12/14 12:00,25.4,3.45,-0.072,0.031,9.0,12.2,6/12/14 12:00,63rdStreetBeach201406121200
3,63rd Street Beach,6/12/14 13:00,18.1,3.31,1.818,0.339,10.0,12.2,6/12/14 13:00,63rdStreetBeach201406121300
4,63rd Street Beach,6/12/14 14:00,17.5,2.93,1.545,0.136,4.0,12.2,6/12/14 14:00,63rdStreetBeach201406121400